:root {
  --bg: rgb(51, 53, 61); 
  --second: rgb(95, 97, 104);
  --third: rgb(66, 68, 74)
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: white;
    height:100vh;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.meteo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    height: 15%;
}

.part {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:85%;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background: var(--third);
}

.infos p {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 5px;
    background: var(--second);
}

h1 {
    font-size: 100px;
    padding: 10px 30px;
}

.meteo img {
    height: 100px;
    width: 100px;
}